@import '@styles/base';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.card {
  background-color: $color-white;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  width: 80%;
  cursor: pointer;
  @include apply-at-md-size {
    width: 20%;
    height: 20%;
  }

  .cartButton {
    text-align: center;
    padding: 10px;
  }

  .cardLink {
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.02);
  }

  .image {
    width: 100%;
    height: 200px;
    object-fit: fill;
  }

  &__content {
    color: $color-black;
    text-align: center;
    line-height: 10px;

    .name {
      font-weight: 600;
    }

    .description,
    .price {
      font-size: 15px;
    }
  }

  .action {
    @include directionX;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
  }
}